<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Light Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Traffic Light Detection</h1>
        <input type="file" id="imageUpload" accept="image/*">
        <canvas id="canvas"></canvas>
        <p id="status">Upload an image to detect traffic lights.</p>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Light Detection</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <h1>Traffic Light Detection</h1>
        <input type="file" id="imageUpload" accept="image/*">
        <canvas id="canvas"></canvas>
        <p id="status">Upload an image to detect traffic lights.</p>
    </div>
    <script src="index.js"></script>
</body>
</html> -->
